@charset "UTF-8";

html
{
  background-image:url(https://pbs.twimg.com/media/DoK6l9_UYAIsnPw.jpg:large);
}

.special_links:hover
{
  font-color:gold;
}

#red_str
{
  color:red;
}

#italic
{
  font-style:italic;
}

